---
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import SearchedPosts from "@components/searchedPosts.vue";
---

<Layout title="Blog">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Search Results for</Fragment>
      <Fragment slot="title">
        <p>"<span id="query"></span>"</p>
      </Fragment>
    </Sectionhead>
    <main class="mt-16">
      <ul class="grid gap-16 max-w-4xl mx-auto">
        <SearchedPosts client:load />
      </ul>
    </main>
  </Container>
</Layout>

<script is:inline>
  $(document).ready(function () {
    const params = new URLSearchParams(window.location.search);
    const query = params.get("q");
    $("#query").html(query);
  });
</script>
