---
interface Props {
  isMobile?: boolean;
}

const { isMobile = false } = Astro.props;
---

<form id=`${isMobile ? "mobileSearchForm" : "searchForm"}`>
  <input
    id=`${isMobile ? "mobileSearchInput" : "searchInput"}`
    type="text"
    placeholder="ðŸ” Search"
    required
    class="w-full px-4 py-3 border-2 placeholder:text-gray-800 rounded-md outline-none focus:ring-4 border-gray-300 focus:border-gray-600 ring-gray-100"
    name="search"
  />
</form>

{
  (isMobile) && (
    <script is:inline>
      var searchForm = document.getElementById("mobileSearchForm");
      var searchInput = document.getElementById("mobileSearchInput");
      searchForm.addEventListener("submit", (e) => {
        e.preventDefault();
        window.location.href = `${window.location.origin}/search?q=${searchInput.value}`;
      });
    </script>
  )
}
{
  (!isMobile) &&(
  <script is:inline>
    var searchForm = document.getElementById("searchForm");
    var searchInput = document.getElementById("searchInput");
    searchForm.addEventListener("submit", (e) => {
      e.preventDefault();
      window.location.href = `${window.location.origin}/search?q=${searchInput.value}`;
    });
  </script>)
}

